/* default */
body {
  font-family: sans-serif;
  /* background: rgba(0, 0, 0, 0.5); */
  color: white;
  min-height: 100vh;
}
#Header {
  float: left;
  width: 100%;
  background: #6f98b7;
  border: #003477 2px solid;
  /*	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 5px;
*/
}

#Menu {
  float: left;
  width: 100%;
  margin: 0;
  background: #003477;
  border: #003477 2px solid;
}

#footer p {
  color: #fff;
}
#Main {
  float: left;
  position: relative;
  width: 100%;
  background: #999999;
  border: #003477 2px solid;
  padding: 5px;
}
.user-list h1 {
}

table.hosts {
  width: 100%;
  border-width: 1px;
  border-spacing: 2px;
  border-style: solid;
  border-color: #000000;
}

td.hosts {
  border-bottom: 1px solid;
  border-right: 1px solid;
  /* border-spacing: 2px; */
  border-color: #000000;
}

th.hosts {
  border-width: 1px;
  border-spacing: 2px;
  border-style: solid;
  border-color: #000000;
  background: #eee;
}

table.user {
  width: 100%;
  border-width: 1px;
  border-spacing: 2px;
  border-style: solid;
  border-color: #000000;
}

td.user {
  border-width: 1px;
  border-spacing: 2px;
  border-style: solid;
  border-color: #000000;
}

tr.user {
  border-width: 1px;
  border-spacing: 2px;
  border-style: solid;
  border-color: #000000;
}

th.user {
  border-width: 1px;
  border-spacing: 2px;
  border-style: solid;
  border-color: #000000;
  background-color: #999999;
}

body,
table,
tr,
td,
p,
li,
ul {
  margin: 0px 0px 0px 0px;
  font-family: "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
  color: #003477;
  font-size: 14px;
  background-repeat: repeat-y;
}

a,
a:visited {
  text-decoration: none;
  /*	color: #0074bb;*/
  color: #002244;
}

a:active,
a:hover {
  text-decoration: none;
  color: red;
}

.linkMenu,
.linkMenu:visited {
  color: #dce7ed;
  text-decoration: underline;
}

.linkMenu:active,
.linkMenu:hover {
  color: white;
  text-decoration: underline;
}

/* text */

.textPageHeading {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.textParagraphHeading {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.textMenu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  background-color: #40637a;
  line-height: 14px;
  padding: 5px;
}

.textMenuHeading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.textCopyright {
  font-size: 10px;
}

.textChangelog {
  color: black;
  background-color: #f1f1f1;
  font-family: monospace;
  border-width: 1;
  border-style: solid;
  border-color: #787878;
  padding: 5px;
}

.textNotice {
  color: black;
  background-color: #f1f1f1;
  border-width: 1;
  border-style: solid;
  border-color: #ea0437;
  padding: 5px;
}

.textNewsItem {
  color: black;
  font-size: 12px;
}

.textLatestVersion {
  color: #464646;
  font-size: 12px;
  font-family: monospace;
}
/* my changes */
.hosts {
  padding: 10px;
  margin-top: 10px;
}
.links-table {
  width: 100%;
}
.links-table tr > td a {
  color: red;
  padding: 0 10px;
  border: 1px solid red;
}
.links-table tr > td a:hover {
  background: green;
}
/* head */
#head {
  height: 100%;
}
.welcome-title {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
}
.welcome-title h1 {
  animation: loaded 3s both;
  font-weight: 900;
  font-size: 60px;
}
.welcome-title p {
  animation: loadedP 3s both;
  animation-delay: 2s;
  font-size: 30px;
}
@keyframes loaded {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes loadedP {
  0% {
    opacity: 0;
     transform: translateY(-100%); 
  }
  100% {
    opacity: 1;
      transform: translateY(0); 
  }
}
.welcome-title p {
  color: white;
}
.img {
  background: rgb(80, 80, 80) url("../images/SARS-WebBanner-2.png") no-repeat
    center center fixed;
  background-size: contain;
  height: 100%;
}
/* navbar */
.navigation {
  top: 0;
  position: sticky;
  z-index: 2;
}
.navbar {
  padding: 0 !important;
  background: rgb(3, 38, 114);
  box-shadow: 3px 3px 3px 3px #464646;
  padding-right: 10px !important;
}
.nav-link {
  color: white !important;
  transition: 0.4s all ease-in-out;
  border-radius: 5px;
}
.nav-link:hover {
  background: white;
  color: #464646 !important;
}
.navbar-brand img {
  width: 200px;
}

#form1 {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 2;

  background: linear-gradient(
    to right,
    rgba(3, 38, 114, 0.9),
    rgba(6, 39, 182, 0.8)
  );
  border-radius: 5px;
  box-shadow: 3px 3px 3px 4px #464646;
}

#form1 input[type="text"],
input[type="password"] {
  border-radius: 0;
  width: 300px;
  transition: 0.4s all ease-in;
}
#form1 input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 3px solid red;
  border-radius: 5px;
}
#form1 input[type="submit"] {
  border-width: none;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  transition: 0.4s all ease-in-out;
  border: none;
  border-radius: 5px;
  background: blue;
}
#form1 input[type="submit"]:hover {
  transform: scale(1.2);
}
#form1 h1 {
  margin-bottom: 50px;
  color: white;
  font-size: 50px !important;
}
.form-wrapper {
  border: 0.1px solid white;
  padding: 10px;
  text-shadow: 2px 2px #777;
  box-shadow: 3px 3px 3px 4px #464646;
  transition: 0.4s all ease-in-out;
}
/* .form-wrapper:hover {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 10%;
  background: rgba(5, 58, 128, 0.6);
  transform: scale(1.2);
} */
.navbar-toggler-icon {
  border-color: #fff !important;
}
.bg-info {
  color: #fff;
}
.hosts-list {
  margin-top: 20px !important;
}
.edit-hosts {
  margin-top: 40px !important;
}
.edit-hosts table {
  transition: 0.4s all ease-in-out !important;
}
td input[type="text"],
select {
  height: 30px;
  border-radius: 5px;
  transition: 0.4s all ease-in-out !important;
  width: 200px;
}
td input:focus {
  border: 2px solid skyblue;
  box-shadow: 2px 2px 2px 3px #777;
}
td input[type="submit"] {
  width: 200px;
}
.edit-user {
  margin-top: 20px;
}
.user-list {
  margin-top: 20px;
}
.message {
  text-shadow: none;
  font-weight: 600;
  color: rgb(248, 8, 8);
  padding: 10px;
